  /* Estilos de las Cards */
/* Estilos de las Cards */
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    /* Agregamos una transición para crear el efecto hover */
    transition: transform 0.3s ease-in-out;
  
    &:hover {
        /* Agrandamos la card en un 5% en todas las direcciones */
        transform: scale(1.05);
    }
  
    .card-img-top {
        height: 280px; /* Establecemos una altura para las imágenes en las cards */
        object-fit: cover; /* Ajuste para que las imágenes se ajusten dentro del contenedor */
    }
  
    .card-body {
        padding: 10px; /* Ajustamos el padding para que el contenido no se vea pegado al borde de la card */
        font-family: 'Lato', sans-serif; /* Aplicamos la fuente 'Lato' al contenido de las cards */
  
        h5 {
            font-size: 25px; /* Tamaño de fuente para el título */
            margin-bottom: 10px; /* Espaciado inferior para el título */
        }
  
        p {
            font-size: 16px; /* Tamaño de fuente para el texto */
            color: var(--black); /* Color del texto */
        }
    }
  }